footer {
    display: flex;
    background-color: #FFFFFF;
    margin-bottom: auto;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;

    border-top: 1px #CCCCCC;
    border-top-style: solid;
}
